body {
    background: #222;
}

section {
    background: #ccc;
}

.search-result {
    border-top: 1px solid #333;
    padding: 1rem;
}
.search-result:last-of-type {
    border-bottom: 1px solid #333;
}